
<p id="notice"><%= notice %></p>
 <h2>Tarea larga</h2>
<%= render 'tasks/task', task: @task %>
<p>
  <strong>Porcentaje avance:</strong>
  <%= @task.porcentaje_avance %>
</p>


<%= link_to 'Back', list_path(@list) %>
